{% extends "layout.html" %}
{% block content %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add Historical Event/Individual
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-history"></i>  <a href="index.html">Home</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Forms
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">

                        <form role="form" method="POST">

                            <div class="form-group">
                                <label>Historical Event Name</label>
                                <input type="text" class="form-control"  name="addEventName" id="addEventName">
                                <!--<p class="help-block">Add in the name of the historical event.</p>-->
                            </div>

                            <div class="form-group">
                                <label>Historical Event Location</label>
                                <input type="text" class="form-control" name="addEventLoc" id="addEventLocation" placeholder="Enter text">
                            </div>

                            <div class="form-group">
                                <label>Submitted By:</label>
                                <input type="text" class="form-control"  name="addSenderEmail" id="addSenderEmail" placeholder="email@example.com">
                            </div>

                            <!--<div class="form-group">-->
                            <!--    <label>File input</label>-->
                                <!--Need more info here, and how to pass html to python-->
                            <!--    <p class="help-block">Input a file describing the event.</p>-->
                            <!--    <input type="file">-->
                            <!--</div>-->

                            <div class="form-group">
                                <label>Describe Event</label>
                                <textarea type="text" class="form-control" name="addEventDesc" id="addEventDesc" rows="3"></textarea>
                            </div>

                            <!--<div class="form-group">-->
                            <!--    <label>Level of Importance</label>-->
                                <!--figure out how to pass option class to python-->
                            <!--    <select class="form-control" name="addImportance">-->
                            <!--        <option>Minimal Effect</option>-->
                            <!--        <option>Minor Effect</option>-->
                            <!--        <option>Moderate Effect</option>-->
                            <!--        <option>Major Effect</option>-->
                            <!--        <option>Earth Shattering</option>-->
                            <!--    </select>-->
                            <!--</div>-->



                            <div class="form-group">
                                <label>Year</label>
                                <input type="text" class="form-control"   name="year" id="addyear" placeholder="YYYY-MM-DD" >
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" id="addSubmit" class="btn btn-default">Submit</button>
                                <!--<button type="reset" class="btn btn-default">Clear</button>-->
                            </div>
                        </form>

                    </div>
                    


                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        <!--</div>-->
        <!-- /#page-wrapper -->
<script src="{{ url_for('static', filename='js/plugins/morris/morris.min.js') }}"></script>
    <!--</div>-->
    <!-- /#wrapper -->
{% endblock %}

