{% extends "layout.html" %}
{% block content %}
<style>
    body
{
    font-family: 'Open Sans', sans-serif;

}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}
</style>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="https://s-media-cache-ak0.pinimg.com/736x/0d/27/35/0d2735c40b35f26de972c3a3615fa2b6.jpg" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="http://a2.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MDA1MzkwODYw.jpg" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>User</h1>
            <p>Rate My Histiry User</p><!--will eventually pull this info from python --
        </div>
    </div>
</div> <!-- /container -->  
{% endblock %}