{% extends "layout.html" %}
{% block content %}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

</style>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Rate My History
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-history"></i> Home
                            </li>
                        </ol>
                    </div>
                </div>
                
                <table>
                    <caption>Top Ten Overall Ratings of Historical Events/Individuals</caption>
                    <tr>
                       <th>Event/Individuals</th>
                        <th>Ratings</th>
                    </tr>
                    <tr>
                       <td>Waterloo</td>
                        <td>5 stars</td> 
                    </tr>
                    <tr>
                        <td>Christopher Columbus</td>
                        <td>3 star</td>
                    </tr>
                    <tr>
                        <td>Watergate Break-in</td>
                        <td>9 stars</td>
                    </tr>
                    <tr>
                        <td>Boston Tea Party</td>
                        <td>10 stars</td>
                    </tr>
                    <tr>
                        <td>Elizabeth I</td>
                        <td>9 stars</td>
                    </tr>
                    <tr>
                        <td>Benito Mussolini</td>
                        <td>1 star</td>
                    </tr>
                </table>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}