{% extends "layout.html" %}
{% block content %}

    
    <div id="page-wrapper" ng-controller="ChatController">
        <div class="container-fluid" >

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Login
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-history"></i>  <a href="index.html">Home</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-sign-in"></i> Login
                            </li>
                        </ol>
                    </div>
                </div>
                
                <!--THIS WORKS DONT CHANGE THE FORM!!!!-->
                <form role="form" method="POST" action="/login.html">
                        <fieldset>
                            <p>To use <i><strong>Rate My History</strong></i>, you must login first! <br>Please enter your email and password to begin your journey of rating history!</p>
                            Email: <br>
                            <input type="text" ng-model="email" name="email" value="" id="email">
                            <br>Password: <br>
                            <input type="password" ng-model="password" name="password" value="" id="password">
                            <br><br>
                            <input type="submit" ng-disabled="!password" value="Login" id="login_button">
                        </fieldset> 
                    </form>
                    <!--<script language="javascript">
                    //     //Doesnt do anything....
                    //     function check(form){
                    //         if(form.username.value == "aemail" && form.password.value =="apassword"){
                    //             window.location = window.location.host
                    //         }
                    //         else{
                    //             alert("Error! Please enter the correct Username or password!")
                    //         }
                    //     }
                    // </script>
                                            -->
        </div>
    </div>
{% endblock %}